<section>


    <div *ngIf="placeToDisplay" class="placeToDisplay">
        <form [formGroup]="placeUpdateForm" (ngSubmit)=updatePlace(placeToDisplay.id)>
            <h1>{{placeToDisplay.city}}</h1>
            <mat-form-field class="example-full-width" *ngIf="editionOpen">
                <input matInput placeholder="{{placeToDisplay.city}}" formControlName="city">
            </mat-form-field>

            <h2>du {{placeToDisplay.begin}}</h2>
            <mat-form-field class="example-full-width" *ngIf="editionOpen">
                <input matInput placeholder="{{placeToDisplay.begin}}" formControlName="begin">
            </mat-form-field>

            <h2>au {{placeToDisplay.end}}</h2>
            <mat-form-field class="example-full-width" *ngIf="editionOpen">
                <input matInput placeholder="{{placeToDisplay.end}}" formControlName="end">
            </mat-form-field>

            <button type="submit" *ngIf="editionOpen">Valider les modifications</button>
        </form>

        <h2 class="button" (click)="showRepresentations()">Heures de représentations</h2>
        <div [hidden]="!representations">
            <div *ngIf="placeToDisplay.representations" class="representations">
                <h3>Tous les jours à : </h3>

                <div *ngFor="let representation of placeToDisplay.representations; let i = index">
                    <h3>{{representation.beginHour}}h</h3>
                    <!-- <mat-form-field class="example-full-width" *ngIf="editionOpen">
                        <input matInput value="{{representation[i].beginHour}}" [(ngModel)]="newBeginHour">
                    </mat-form-field> -->
                </div>
            </div>
        </div>

        <div class="icons">
            <i class="material-icons" (click)="openEditingForm()"> edit</i>
            <i class="material-icons" (click)="openConnectionModal(placeToDisplay.id)">delete</i>
        </div>
    </div>

</section>