<section>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="inscription-form">

        <div class="form-cases">
            <input placeholder="Pseudo ou nom affiché" type="text" formControlName="pseudo">
        </div>
        <div *ngIf="userForm.controls['pseudo'].errors && userForm.controls['pseudo'].touched">
            <div [hidden]="!userForm.controls['pseudo'].errors.required" class="error">L'identifiant est
                obligatoire
            </div>
        </div>

        <div class="form-cases">
            <input placeholder="Courriel" type="email" formControlName="email">
        </div>
        <div *ngIf="userForm.get('email').errors && userForm.get('email').touched" class="error-msg">
            <div [hidden]="userForm.get('email').errors.invalid" class="error">Ce champ doit être un email</div>
            <div [hidden]="!userForm.get('email').errors.required" class="error">L'email est obligatoire pour
                s'inscrire</div>
        </div>

        <div class="form-cases">
            <input placeholder="Mot de passe" type="password" formControlName="password">
        </div>
        <div *ngIf="userForm.get('password').errors && userForm.get('password').touched " class="error-msg">
            <div [hidden]="userForm.get('password').errors.invalid" class="error">Le mot de passe doit contenir au
                moins une
                majuscule</div>
            <!-- <div [hidden]="!userForm.get('password').errors.required" class="error">Un mot de passe est obligatoire
                    pour
                    s'inscrire</div> -->
        </div>


        <button type="submit" class="valid-button" [disabled]="!userForm.valid">

        </button>
    </form>

</section>