<section>
    <div class="stars"></div>
    <div class="twinkling"></div>

    <img class="holo" src="../../../assets/pictures/tente2.png" alt="">
    <div class="title">


        <button class="kave-btn" (click)="openWebsite()">
            <span class="kave-line"></span>
            <span> Enter dans le site </span>
        </button>


        <div class="big-title">
            <h1> Bienvenue dans le cirque du futur</h1>
        </div>

    </div>
    <img src="../../../assets/pictures/robot.png" alt="">



</section>