<div>
    <button mat-button (click)="openNewCategoryInput()"> Ajouter une catégorie de prix</button>
    <button mat-button (click)="openDeleteCategorySelect()"> Supprimer une catégorie de prix</button>

    <button mat-button (click)="openUpdatingInput()"> Modifier un prix</button>

    <button mat-button (click)="openCreationPriceForm()"> Créer un nouveau prix</button>
    <button mat-button (click)="openDeletePriceInput()"> Supprimer un prix </button>

</div>


<!-- To open updating form with id  -->

<div *ngIf="updatingInput">
    <mat-form-field>
        <input matInput placeholder="Id du prix à modifier" type="number" [(ngModel)]="priceIdToUpdate">
    </mat-form-field>

    <button mat-button (click)="openUpdatingForm(priceIdToUpdate)"> Sélectionner </button>
</div>



<!-- Updating && creating Form -->

<form [formGroup]="updatingPriceForm" (ngSubmit)="onSubmit()" class="price-creation-form"
    *ngIf="updatingPriceFormOpened" [hidden]="inputNewCategoryOpened">

    <div class="form-cases">
        <mat-form-field>
            <input matInput placeholder="Prix" type="text" formControlName="amount">
        </mat-form-field>
    </div>


    <mat-form-field>

        <mat-label>Période</mat-label>

        <mat-select formControlName="period">

            <mat-option [value]="1" (click)="periodSelected()">
                Week
            </mat-option>

            <mat-option [value]="2" (click)="periodSelected()">
                Week-end & mercredi
            </mat-option>

            <mat-option [value]="3" (click)="periodSelected()">
                Evénement spécial
            </mat-option>

        </mat-select>

    </mat-form-field>

    <mat-form-field *ngIf="pricesCategoriesAvailable">

        <mat-label>Categorie</mat-label>

        <mat-select formControlName="categoryPrice">

            <mat-option *ngFor="let category of pricesCategoriesAvailable" [value]="category.id"
                (click)="categorySelected()">
                {{category.name}}
            </mat-option>
        </mat-select>

    </mat-form-field>

    <button mat-button *ngIf="!creationForm" [hidden]="inputNewCategoryOpened"> Modifier ce prix </button>
</form>

<!-- creating price submit button  -->

<button mat-button *ngIf="creationForm" (click)="createANewPrice()"> Créer</button>



<!-- Create new category -->

<div class="form-cases" *ngIf="inputNewCategoryOpened">
    <mat-form-field>
        <input matInput placeholder="Nom de la nouvelle catégorie" type="text" [(ngModel)]="categoryToCreate">
    </mat-form-field>
    <button mat-button (click)="addNewCategory()"> Valider </button>
</div>


<!-- Delete Category -->

<div *ngIf="deleteCategoryOpened">

    <mat-label>Categorie à supprimer</mat-label>

    <mat-select [(ngModel)]="categoryToDelete">
        <mat-option *ngFor="let categoryToD of pricesCategoriesAvailable" [value]="categoryToD.id">
            {{categoryToD.name}}
        </mat-option>
    </mat-select>

    <button mat-button (click)="deleteCategory()"> Supprimer</button>
</div>