<section>
    <table class="pricestable">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col" *ngFor="let category of categories">{{category.name}} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="weekPrices">
                <th scope="row"> En semaine</th>
                <td *ngFor="let week of weekPrices">{{week.amount}}</td>
            </tr>
            <tr>
                <th scope="row">week-end et mercredi </th>
                <td *ngFor="let day of weekendPrices">{{day.amount}}</td>
            </tr>
        </tbody>
    </table>
</section>