section{
    // width: 20%;
    background-color: white;
    padding: 2%;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: -15px;
}

.buttons{
    display: flex;
}

.form-cases{
    display: flex;
    align-items: center;
    border: 1px solid #1A1A1A;
    border-radius: 100px;
    opacity: 0.5;
    justify-content: center;
    margin-top: 23px;

}

input{
    border: none;
    padding: 13px;
    outline: none;
    font-size: 14px;
    color: #1A1A1A;
}

.form-field{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -25px;
    font-family: 'Regular', 'Lato';
    letter-spacing: 0;
    color: #1A1A1A;
    font-size: 14px;
}

.valid-button{
    margin-top: 20px;
    border-radius: 50%;
    background-color: #FF6969;
    border: none;
    color: white;
    height: 50px;
    width: 50px;
    align-self: center;
}

p{
    margin: 2px;
    text-align: center;
    font-family: 'Regular', 'Lato';
    font-size: 14px;

}

.error{
    color: #FF6969;

    }
